@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    }
html{background-color: #ECF0F3;
    margin-left: 200px;
     ;}

nav{margin-top: 45px;
display: flex;
justify-content: space-between;
align-items: center
;}

.nav-boton-inicio-home{text-decoration: none;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
font-weight: 550; 
color: black;}

.nav-lista-inicioul{display: flex;
align-items: center;
margin-right: 20px;}

.botonnav{text-decoration: none;
border-style: none;
padding: 0px 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
font-size: 13px;
font-weight: 500;
}

.botonnav-boton-comprar{padding: 15px 30px;
color: #FF014F;
font-weight: 700;
border: 1px solid transparent;
box-shadow: -1px 0px 5px 0px rgb(0,0,0,1) ;
border-radius: 4px;
}

.portafolio-6secciones{margin-right: 200px;
    ;}

.imagen-main{width: 500px;
height: 500px;
border-radius: 5px;
box-shadow: -1px 0px 5px 0px rgb(0,0,0,1) ;}

main{margin-top: 100px;
display: flex;
justify-content: space-between;
margin-bottom: 75px;
}

.main-perfil{display: flex;
flex-direction: column;
justify-content: space-between;
width: 560px;
padding-bottom: 80px;}

.main-textoh4-bienvenida{
    letter-spacing: 2px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0.7;
    font-size: 15px;
    margin-bottom: 10px ;}

.main-nombre-color{text-decoration: none;
color: #FF014F;
font-style: normal;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 50px;
}

.main-textoh1-nombre{text-decoration: none;
font-style: normal;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
font-size: 50px;
margin-bottom: 30px}


.main-parrafo-descripcion{font-family: Arial, Helvetica, sans-serif;
font-size:17px;
word-spacing: 4px;
opacity: 0.8;
letter-spacing: 1px;
}

.main-botones{display: flex;
justify-content: space-between;}

.main-textoh4botones{letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 12px;
   font-weight: 400;
   margin-bottom: 15px;
   
}

.main-botones-redes{align-items: center}

.main-boton{width: 40px;
height: 40px;
border: 10px solid transparent;
box-shadow: -1px 0px 5px 0px rgb(0,0,0,1) ;
border-radius: 2px;
margin-right: 10px;
}

.seccion-habilidades{box-shadow: 0px -1px 0px 0px rgb(0,0,0,1);
padding-top: 75px;
margin-bottom: 75px; 
}

.habilidades-textoh4-textointroductorio{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    color:#FF014F;}

.habilidades-textoh1-textointroductorio{text-decoration: none;
    font-style: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 50px;
    margin-bottom: 30px}

.habilidades{display: flex;}

.primeracajagrandehab{margin-bottom: 50px;}

.habilidad{border: 10px solid transparent;
    box-shadow: -1px 0px 5px 0px rgb(0,0,0,1);
    width: 500px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 40px ;
    padding-left: 20px;
    padding-right: 20px;
    }

.habilidad-descripcion{
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

.habilidad-parrafo{font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    word-spacing: 4px;
    opacity: 0.8;
    letter-spacing: 1px;

}

.seccion-miportafolio{box-shadow: 0px -1px 0px 0px rgb(0,0,0,1);
    padding-top: 75px;
    margin-bottom: 75px}

.miportafolio-textointroduccion{text-align: center;}

.miportafolio-textoh4-textointroductorio{text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-bottom: 1px;
    color:#FF014F;}

.miportafolio-textoh1-textointroductorio{text-decoration: none;
    font-style: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 50px;
    margin-bottom: 30px}
    

.miportafolio-primeracajagrandemiport{display: flex;
    margin-top: 50px;
margin-bottom: 25px;
}

.miportafolio-segundacajagrandemiport{display: flex;}


.miportafolio{border: 10px solid transparent;
    box-shadow: -1px 0px 5px 0px rgb(0,0,0,1);
    width: 400px;
    height: 300px;
    padding-bottom: 40px;
    padding-top: 20px ;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
}

.miportafolio-imagen{width: 400px ;
height:200px ;
border-radius: 5px;
}

.miportafolio-resumencalificacion{display: flex;
justify-content: space-between;
margin-top: 15px;
margin-bottom: 15px;
}

.miportafolio-resumenh4{text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    color:#FF014F;

}

.miportafolio-calificacionh4{text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    opacity: 0.8;
    margin-right: 15px;
}

.miportafolio-descripcionh3{font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
font-size: 23px;}

.seccion-hojavida{box-shadow: 0px -1px 0px 0px rgb(0,0,0,1);
    padding-top: 75px;
    margin-bottom: 75px}

.hojavida-introduccion{text-align: center;}

.hojavida-introduccionh4{text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-bottom: 1px;
    color:#FF014F}

.hojavida-introduccionh1{text-decoration: none;
    font-style: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 50px;
    margin-bottom: 30px}

.hojavida-nav{list-style: none;}

.hojavida-navli{display: flex;
 margin-bottom: 10px;}

.boton1hojadev{color: #FF014F;
    font-weight: 700;
    border: 1px solid whitesmoke;
    box-shadow: -1px 0px 5px 0px rgb(0,0,0,1);
    border-radius: 4px;
    padding: 15px 180px;
    margin-right: 1px ;
    background-color: #EBEFF2 ;} 

.boton2hojadev{font-weight: 700;
    border: 1px solid white;
    box-shadow: -1px 0px 5px 0px rgb(180, 172, 172) ;
    border-radius: 4px;
    padding: 15px 130px;
    border-right-color: transparent;
    background-color: #EBEFF2}

.boton3hojadev{font-weight: 700;
    border: 1px solid white;
    box-shadow: -1px 0px 5px 0px rgb(180, 172, 172) ;
    border-radius: 4px;
    padding: 15px 130px;
    border-right-color: transparent;
    background-color: #EBEFF2 }

.boton4hojadev{font-weight: 700;
    border: 1px solid white;
    box-shadow: -1px 0px 5px 0px rgb(180, 172, 172) ;
    border-radius: 4px;
    padding: 15px 130px;
    border-right-color: transparent;
    background-color: #EBEFF2}

.hojavidaresume-6cajas{display: flex;
justify-content:}

.hojavida{position: relative;
    border: 10px solid transparent;
    box-shadow: -1px 0px 5px 0px rgb(0,0,0,1);
    width: 630px;
    height: 175px;
    padding: 20px;
    margin: 20px
}

.hojavida::before{content:'';
position: absolute;
width: 3px;
height: 125%;
background-color: grey;
left: -30px;
top: 10px;
opacity: 0.5;}

.hojavida::after{content:'';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: grey ;
    left: -35px;
    top: 25px;
}

.hojavidaresume{padding-left: 20px;}

.hojavida-descriptionh4{text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    color:#FF014F}

.hojavida-descriptionh1{text-decoration: none;
        font-style: normal;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        font-size: 25px;
        margin-bottom: 10px}

.hojavida-titleh2{font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
font-size: 23px;
margin-bottom: 5px;}

.hojavidacalificacionuni, .hojavidacalificaciontra {
display: flex;
justify-content: space-between;
margin-bottom: 20px;
align-items: center;}

.hojavidauniversidad , .hojavidatrabajo{text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    opacity: 0.8;
}

.hojavidacalificacion{text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    color:#FF014F;
    border: 10px solid transparent;
    box-shadow: -1px 0px 5px 0px rgb(0,0,0,1)
} 

.hojavidaexperienciap{padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    word-spacing: 4px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: 0px -1px 0px 0px rgb(0,0,0,1);}

.seccion-miblog{padding-top: 75px;
box-shadow: 0px -1px 0px 0px rgb(0,0,0,1);
margin-bottom: 75px}

.miblog-titulo{text-align: center}

.miblogh4-titulo{text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-bottom: 1px;
    color:#FF014F;}

.miblogh1-titulo{text-decoration: none;
    font-style: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 50px;
    margin-bottom: 30px}

.miblog-3cajas{display: flex;}

.miblogimg-imagen{width: 400px ;
    height:200px ;
    border-radius: 5px;
    position: relative;
    bottom: 50px
}

.miblog{border: 10px solid transparent;
    box-shadow: -1px 0px 5px 0px rgb(0,0,0,1);
    width: 400px;
    height: 300px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: 20px}

.miblog-tema-tiempo{display: flex;
    justify-content: space-between;
    margin-top: -15px;
    margin-bottom: 15px;}

.miblog-tema{text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    color:#FF014F;}

.miblog-tiempo{text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    opacity: 0.8;
    margin-right: 15px;}

.miblog-descripcionh2 {font-family:Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 600;
text-decoration: none;
font-size: 23px;}

.seccion-contacto{padding-top: 75px;
    box-shadow: 0px -1px 0px 0px rgb(0,0,0,1);
    margin-bottom: 75px}

.contacto-introduccion{text-align: center;
}

.contacto-introduccionh4{text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-bottom: 1px;
    color:#FF014F}

.contacto-introduccionh1{text-decoration: none;
    font-style: normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 50px;
    margin-bottom: 30px}

.contacto-2cajas{display: flex;
    
}

.contacto-descripcion-img{width: 400px ;
    height:200px ;
    border-radius: 5px;
margin-bottom: 20px;}


.contacto-descripcion{border: 10px solid transparent;
    box-shadow: -1px 0px 5px 0px rgb(0,0,0,1);
    width: 400px;
    height: 600px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: 20px;
display: flex;
justify-content: space-between;
flex-direction: column;}

.contacto-informacioncontacto{margin-bottom: 80px;}

.contacto-descripcion-nombre{
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
font-size: 23px;
}

.contacto-descripcion-perfil{padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    word-spacing: 4px;
    opacity: 0.7;
    letter-spacing: 1px;
margin-bottom: -40px;}

.contacto-descripcion-info{margin-bottom: 20px;}


.contacto-redesh4{padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    word-spacing: 4px;
    opacity: 0.7;
    letter-spacing: 1px;
margin-bottom: 15px;
}

.contacto-boton{width: 40px;
    height: 40px;
    border: 10px solid transparent;
    box-shadow: -1px 0px 5px 0px rgb(0,0,0,1) ;
    border-radius: 2px;
    margin-right: 10px;}

.contacto-formulario{border: 10px solid transparent;
    box-shadow: -1px 0px 5px 0px rgb(0,0,0,1);
    width: 900px;
    height: 600px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin: 20px;}

.contacto-formularioform{display: flex;

flex-direction: column;}

label{text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    opacity: 0.8;}

.contacto-formulario-namenumber{display: flex;
margin-bottom: 25px;}

.formulario-name-caja, .formulario-numero-caja, .formulario-email-caja, .formulario-asunto-caja, .formulario-mensaje-caja{display: flex;
flex-direction: column;}

.formulario-name-caja{margin-right: 50px;}


.formulario-name-tamaño{width: 425px;
height: 50px}

.formulario-numero-tamaño{width: 425px;
    height: 50px}

.formulario-email-tamaño{width: 900px;
    height: 50px}

.formulario-asunto-tamaño{width: 900px;
    height: 50px}

.formulario-mensaje-tamaño{width: 900px;
    height: 250px}

.formulario-email-caja, .formulario-asunto-caja, .formulario-mensaje-caja{margin-bottom: 25px;}


.contacto-botonenviar{background-color: #D90143;
    width: 900px;
    height: 50px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: white;}




 






    